<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>selected menu</title>
</head>
<body>
    <table>
        <tr>
            <th>제품번호</th>
            <th>제품이름</th>
            <th>제품원가</th>
            <th>출시일</th>
            <th>할인율</th>
            <th>판매량</th>
            <th>재고량</th>
            <th>제품분류코드</th>
            <th>생산상태</th>
        </tr>
        <tr style="text-align: center">
            <td th:text="${ product.productCode }"></td>
            <td th:text="${ product.productName }"></td>
            <td th:text="${ product.originCost }"></td>
            <td th:text="${ product.releaseDate }"></td>
            <td th:text="${ product.discountRate }"></td>
            <td th:text="${ product.salesQuantity }"></td>
            <td th:text="${ product.stockQuantity }"></td>
            <td th:text="${ product.categoryCode }"></td>
            <td th:text="${ product.productionStatus }"></td>
        </tr>
    </table>
</body>
</html>