<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>

    <h1>😋 Ohgiraffers Restaurant 😋</h1>

    <button onclick="location.href='/product/13'">특정 제품 목록 보기</button>
    <button onclick="location.href='/product/list'">제품 전제 목록 보기</button>

    <button onclick="location.href='/product/querymethod'">쿼리 메소드 테스트</button>

    <button onclick="location.href='/product/regist'">제품 등록하기</button>
    <button onclick="location.href='/product/modify'">제품 수정하기</button>
    <button onclick="location.href='/product/delete'">제품 삭제하기</button>

</body>
</html>